<header class="bg-green-700">
  <div
    class="container mx-auto w-full h-auto md:h-16 flex flex-wrap md:flex-no-wrap items-center justify-between"
  >
    <div class="brand-wrap">
      <h2 class="text-2xl font-bold text-white">
        <a routerLink="/">Jide Lambo</a>
      </h2>
    </div>

    <div class="header-menu-wrap overflow-y-scroll">
      <ul class="menu-group">
        <li class="mr-6">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Work</a
          >
        </li>
        <li class="mr-6">
          <a routerLink="/about" routerLinkActive="active">About me</a>
        </li>
        <li class="mr-6">
          <a routerLink="/playground" routerLinkActive="active">Playground</a>
        </li>
        <li class="mr-6">
          <a routerLink="/design-process" routerLinkActive="active">Process</a>
        </li>
      </ul>
    </div>
    <!-- </div> -->
  </div>
</header>
