.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .brand-wrap {
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.header-menu-wrap {
  .menu-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      flex-wrap: nowrap;
      padding-left: 0;
    }

    li {
      list-style: none;

      &:first-child {
        margin-left: 0;
      }

      a {
        text-decoration: none;
        color: #000;

        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}
