<div class="container">
    <div class="work-page-title">
      <h3>BCaster</h3>
    </div>
  </div>
  <!-- <app-works-hero></app-works-hero> -->
  <div class="work-hero-wrap" *ngFor = 'let hero of heros'>
    <div class="hero-bckgrnd" style="background-color: #ee8933">
      <img src="../../../assets/img/hero/{{hero.mock}}" alt="" />
      <img src="../../../assets/img/hero/{{hero.mockSm}}" alt="" />
    </div>
  </div>
  <div class="container">
    <article class="project-desc">
      <div class="desc-more">
        <h2 class="desc-title">About BCaster</h2>
        <p>BCaster provides tools for capturing media content (photos and videos) using her Web App camera. The content can then be uploaded to the dashboard, where it is automatically analyzed and tagged with AI.</p>
        <p>The media content is processed for easy search based on time, location, context, and media quality.</p>
        <p>I'll be sharing about the approach we took for our BCaster camera and dashboard.</p>
        <p></p>
      </div>
  
      <div class="desc-more">
        <h2 class="desc-title-sm">Challenge</h2>
        <p>How do you design a product that there's nothing like it in the market? As a typical user of a product; say, for instance, a Tesla Model 3 electric car. 
        I can take photos or videos of myself driving my Tesla and post these media content on one or many of the social media apps. 
        As a Tesla marketing manager, how can I take stock of all these media content from a customer; especially when this content is lost in the sea of information on Facebook, Twitter, or Instagram.
        </p>
        <p>We designed and built tools to help business owners get direct media content from their customers (of course, with consent), 
            reward them for sharing, and use this content for advert and other business purposes. 
        </p>
        <p>We experimented and iterated a lot especially as no one had bothered to work on a product like this. 
            We needed to build tools that would be easy-to-use, self-explanatory, and help business owners easily get media content from their customers. 
        </p>
      </div>
  
      <div class="desc-more">
        <h2 class="desc-title-sm">Solution</h2>
        <p>My task was to understand the business goals, our client, and how the existing  MVP works. As the design lead, 
            I collaborated with the project managers, and engineers to highlight features to help our users. We also came up with a new design system that gave our tools a consistent look. 
        </p>
        <p>
            In identifying what our users needs, we built a BCaster Web App camera that can be easily integrated on the business owner's website and then used to take photos/videos. 
            Furthermore, we built a dashboard tool where business owners can easily collect their customer's media content (with consent). 
            This content will then be automatically analyzed with our AI algorithm and can be processed for easy search based on time, location, context, and media quality. 
        </p>
        <p>
            The project challenged me to look for new ways to understand BCaster's business goals as it constantly changed and also advocate for an easy-to-use experience for our users. 
            I had to dig deep into how to best present photos and videos on the tool for our users. I also had to learn how best to design usable search features and data visualization.
        </p>
      </div>
    </article>
  </div>
  <div class="know-me-wrap">
    <div class="know-me">
      <a routerLink="/about">Know more about me</a>
    </div>
  </div>
  <app-footer-social></app-footer-social>