<div class="container mx-auto">
  <div class="work-page-title">
    <h3>BCaster</h3>
  </div>
</div>
<!-- <app-works-hero></app-works-hero> -->
<div class="work-hero-wrap" *ngFor="let hero of heros">
  <div class="hero-bckgrnd" style="background-color: #ee8933;">
    <img
      src="../../../assets/img/hero/{{ hero.mock }}"
      alt="{{ hero.mock }}"
      loading="lazy"
    />
    <img
      src="../../../assets/img/hero/{{ hero.mockSm }}"
      alt="{{ hero.mockSm }}"
      loading="lazy"
    />
  </div>
</div>
<div class="container mx-auto">
  <article class="project-desc">
    <div class="desc-more">
      <h2 class="desc-title">About BCaster</h2>
      <div class="text-lg leading-10">
        <p>
          BCaster provides tools for capturing media content (photos and videos)
          using her Web App camera. The content can then be uploaded to the
          dashboard, where it is automatically analyzed and tagged with AI.
        </p>
        <p>
          The media content is processed for easy search based on time,
          location, context, and media quality. I'll be sharing about the
          approach we took for our BCaster camera and dashboard.
        </p>
      </div>
    </div>

    <div class="desc-more">
      <h2 class="text-xl font-semibold">Challenge</h2>
      <div class="text-lg leading-10">
        <p>
          How do you design a product that there's nothing like it in the
          market? As a typical user of a product; say, for instance, a Tesla
          Model 3 electric car. I can take photos or videos of myself driving my
          Tesla and post these media content on one or many of the social media
          apps. As a Tesla marketing manager, how can I take stock of all these
          media content from a customer; especially when this content is lost in
          the sea of information on Facebook, Twitter, or Instagram.
        </p>
        <p>
          How do we design tools to help business owners get direct media
          content from their customers (of course, with consent), reward them
          for sharing, and use this content for advert and other business
          purposes.
        </p>
      </div>
    </div>

    <div class="desc-more">
      <h2 class="text-xl font-semibold">Solution</h2>
      <div class="text-lg leading-10">
        <p>
          My task was to understand the business goals, our client, and how the
          existing MVP works. As the design lead, I collaborated with the
          project managers, and engineers to highlight features to help our
          users. We also came up with a new design system that gave our tools a
          consistent look.
        </p>
        <p>
          In identifying what our users needs, we built a BCaster Web App camera
          that can be easily integrated on the business owner's website and then
          used to take photos/videos. Furthermore, we built a dashboard tool
          where business owners can easily collect their customer's media
          content (with consent). This content will then be automatically
          analyzed with our AI algorithm and can be processed for easy search
          based on time, location, context, and media quality.
        </p>
        <p>
          The project challenged me to look for new ways to understand BCaster's
          business goals as it constantly changed and also advocate for an
          easy-to-use experience for our users. I had to dig deep into how to
          best present photos and videos on the tool for our users. I also had
          to learn how best to design usable search features and data
          visualization.
        </p>
        <p>
          We experimented and iterated a lot especially as no one had bothered
          to work on a product like this. We needed to build tools that would be
          easy-to-use, self-explanatory, and help business owners easily get
          media content from their customers.
        </p>
      </div>
    </div>

    <div class="desc-more">
      <h2 class="text-xl font-semibold">Task:</h2>
      <div>
        <ol class="list-decimal">
          <li>
            <p class="text-lg leading-10">
              One of our business goals was to help brand's curate media content
              (images and videos) from their product customers. We scheduled a
              few interview sessions with people from our client's marketing
              team to learn about their current workflow while trying to get
              hold of media content for marketing purposes.
            </p>
            <ul class="list-disc">
              <li class="text-lg leading-10">
                These conversations helped us understand that content
                presentation was quite important for our clients to see their
                growth.
              </li>
              <li class="text-lg leading-10">
                They also want to make smart decisions when preparing content
                for marketing ads or promotional purposes.
              </li>
            </ul>
            <p class="text-lg leading-10">
              We learned that to help our users feel comfortable with content
              presentation and make the best of it, we designed an interface to
              give them options to switch between list or grid view. We also
              designed an experience to perform actions to easily search, view,
              and download media content.
            </p>
          </li>

          <li>
            <p class="text-lg leading-10">
              For our clients to easily run promotions and get real-time media
              content from their product customers, we designed and built a
              light-weight Web App camera. This camera would be easily
              integrated on our client's promotional website and can be
              customized specifically for campaigns. The camera also needs to be
              a few clicks away from taking a photo or video and sending content
              to our client's dashboard.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </article>
</div>
<div class="know-me-wrap">
  <div class="know-me">
    <a routerLink="/about">Know more about me</a>
  </div>
</div>
<app-footer-social></app-footer-social>
