<div class="container">
  <div class="work-page-title">
    <h3>GIGM.com - <a href="https://drive.google.com/drive/folders/1y_Fmp6Yjc05-vVLKc3bIuisXOL2nOJ6k" target="_blank">Visit project here</a></h3>
  </div>
</div>
<!-- <app-works-hero></app-works-hero> -->
<div class="work-hero-wrap" *ngFor = 'let hero of heros'>
  <div class="hero-bckgrnd" style="background-color: rgb(250, 211, 224)">
    <img src="../../../assets/img/hero/{{hero.mock}}" alt="" />
    <img src="../../../assets/img/hero/{{hero.mockSm}}" alt="" />
  </div>
</div>
<div class="container">
  <article class="project-desc">
    <div class="desc-more">
      <h2 class="desc-title">Why this project? Travelling had to be easy</h2>
      <p>We built the GIGM.com with the intention to change the transport system in Nigeria with an approach to give users the opportunity to book, review and reroute trips from their mobile phones and pc.. We need to make bus fare bookings easy for our guests and ease them the stress of queuing up at the bus terminals for bus fare tickets.</p>
    </div>

    <div class="desc-more">
      <h2 class="desc-title-sm">Goal</h2>
      <ul>
        <li>Fare options: additional fare discount for booking online and even more fare discount for signing up on the platform.</li>
        <li>Easy-to-understand filter search results: Guests can easily sort search results to find the best travel deals.</li>
        <li>Trip details: Guests know what to expect during their journey, with information about departure time and Vehicle type.</li>
        <li>Sign in option: Guests can keep tabs on their travel history while signed in.</li>
        <li>Easy-to-use payment platforms: Our goal is for Guests to not only book a trip within 2 minutes, but to pay online stress-free.</li>
        
      </ul>
    </div>

    <div class="desc-more">
      <h2 class="desc-title-sm">My Contribution</h2>
      <ul>
        <li>GIGM.com has a huge user base of over 500,000 website optimizers, so it made sense for us to start our user testing with 
          existing customers. I had interviews with a few of our exisiting users. It was easy to approach them at the bus terminals across the city. I asked about their
          experience while making booking reservations. I also learned about their likes and dislikes while using the service, their pain-points,
          the means by which they make their booking reservations, and other alternate services.
        </li>
        <li>I continued working with the project team by coming up with a whole new set of ideas to solve our user’s needs, wants and desires. 
          Now, most of them were impratical, but we come up with a lot of high quality ideas.</li>
        <li>After generating ideas, I went out to work with the bus terminal staffs and people waiting to travel. 
          Running the in-house ideas with the users and also generating new ideas directly with the community was a big plus for this project. 
          It was critical that the people for whom the design is for, contribute and adopt the ideas.</li>  
        <li>Using the information gathered from interviews, I gathered all the common user needs, 
          and wants, and used all this information to form personas. Journey maps were also created.</li>
        <li>Prototyping was the most interesting part because we came up with many. 
          I designed walk-through prototypes that allowed people to go through one activity to another. 
          I tested the prototype on users by asking them to perform simple functions. Iterations were made from 
          the feedback gotten from usability tests.</li>
      </ul>
    </div>
  </article>
</div>
<div class="know-me-wrap">
  <div class="know-me">
    <a routerLink="/about">Know more about me</a>
  </div>
</div>
<app-footer-social></app-footer-social>