<div class="container mx-auto">
  <section class="about-wrap">
    <h2 class="text-2xl font-medium leading-10 mb-6">Hi again, 🙂</h2>

    <article class="text-lg leading-10">
      <p>
        I’m a Helsinki-based user experience &amp; user-interface designer. My
        professional journey started as I nurtured my creative side through
        graphic design, and later on became proficient in prototype design, user
        interface development, and recently service design.
      </p>
      <p>
        My passion as a user driven designer is derived from the deep interest
        in how people connect with services, and products - and a passion for
        cultures.
      </p>
      <p>
        I’ve collaborated with awesome people to design products for the road
        travel industry, SaaS products, fintech applications, user-generated
        content business, and most recently products around cloud services. I
        focus on solving problems and creating coherent, clean and simple
        experiences across the devices I design for. The user is always at the
        center of my process.
      </p>
      <p>
        In addition to my day job, I spend time teaching how to design
        interfaces and code with HTML, CSS, JS, React and Vue. When I'm not
        working, I enjoy taking city photographs, bike riding for long miles and
        horse back riding.
      </p>
    </article>
  </section>

  <section class="about-wrap mt-10">
    <h2 class="text-2xl font-bold mb-4">Relevant Skills &amp; Tools 🔧</h2>

    <div class="skills-wrap">
      <ul class="skills-list">
        <li class="text-lg leading-10" *ngFor="let skill of skills">
          {{ skill.name }}
        </li>
      </ul>
    </div>
  </section>
</div>
<div class="know-me-wrap">
  <div class="know-me">
    <a routerLink="/design-process">Read about my design process</a>
  </div>
</div>
<app-footer-social></app-footer-social>
