<div class="container">
  <section class="about-wrap">
    <h2>Hi, I'm Jide.</h2>

    <article class="about-desc">
      <p>I’m a Lagos-based user experience &amp; user-interface designer working on productivity applications at GTBank. My professional journey started as I nurtured my creative side through graphic and web design, and later on became proficient in front-end development.</p>
      <p>My passion as a user experience (UX) designer is derived from the deep interest in how people connect with services, and products - and a passion for cultures, fuelled by years of reading books by foreign authors.</p>
      <p>Although I’ve done a lot of product designing for the road travel industry in Africa and SaaS products, I’m looking at user experience and Frontend engineering for now. I focus on solving problems and creating coherent, clean and simple experiences across the devices I design for. The user is always at the center of my process.</p>
      <p>In addition to my day job, I spend time teaching kids how to code with HTML and CSS. When not working, I enjoy spending time with my family, my wife Maryann, a digital marketer, and my daughter. I enjoy taking long runs every weekend in addition to playing PC games.</p>
      <p>I also enjoy extending my ability to develop more effective web solutions and mobile apps with HTML5, SCSS, Javascript. With an interest in building, I can code with Angular. I also build hybrid mobile apps with Ionic frameworks. To see some of my accomplishments among other details, <a href="/assets/img/resume/jide-lambo-resume.pdf" target="_blank">download my resume.</a></p>

    </article>
  </section>

  <section class="about-wrap">
    <h2>Relevant Skills &amp; Tools</h2>

    <div class="skills-wrap">
      <ul class="skills-list">
        <li *ngFor='let skill of skills'>{{ skill.name }}</li>
      </ul>
    </div>
  </section>
</div>
<div class="know-me-wrap">
  <div class="know-me">
    <a routerLink="/design-process">Read about my design process</a>
  </div>
</div>
<app-footer-social></app-footer-social>