<div class="container max-w-5xl">
    <div class="work-page-title">
      <h3>GTPay -</h3>
    </div>
  </div>
  <!-- <app-works-hero></app-works-hero> -->
  <div class="work-hero-wrap" *ngFor = 'let hero of heros'>
    <div class="hero-bckgrnd" style="background-color: #a2c8d8">
      <img src="../../../assets/img/hero/{{hero.mock}}" alt="" />
      <img src="../../../assets/img/hero/{{hero.mockSm}}" alt="" />
    </div>
  </div>
  <div class="container">
    <article class="project-desc">
      <div class="desc-more">
        <h2 class="desc-title">Introduction</h2>
        <p>GTPay is one of the payment system used by merchants across West Africa. As a payment system striving to meet user’s needs 
          and reach more customer base, the web platform plays a pivotal role in the system’s marketing efforts. However, GTPay’s website 
          had become complex, and it lacked modern user-friendly elements, such as personalization and responsiveness. With the team I worked with, 
          GTPay was totally renewed and stepped up their customer base.</p>
      </div>
  
      <div class="desc-more">
        <h2 class="desc-title-sm">Challenge</h2>
        <p>
            GTPay website at first glance wasn’t user-friendly. It was built on HTML4 tables, making the website not responsive. 
            The dashboard displaying data was also full of shortcomings, from the poor user interface and scalability to responsive 
            design and mobile device compatibility.
        </p>
        <p>GTPay needed a better data display interface, and a new website to deliver a modern personalized user experience. 
          Feedbacks from existing merchants had shown that certain features were needed to help drive their business financially.</p>
      </div>

      <div class="desc-more">
        <h2 class="desc-title-sm">Solution</h2>
        <p>
            The redesign of the website was an interesting experience, and the new site will be launched in a few weeks.
        </p>
        <p>
            I worked with the business manager to further improve the customer journey. I came up with many prototype versions because we were consistently testing with our customers. The website was designed to be mobile responsive, light-weighted and interactive. 
        </p>
      </div>
  
    </article>
  </div>
  <div class="know-me-wrap">
    <div class="know-me">
      <a routerLink="/about">Know more about me</a>
    </div>
  </div>
  <app-footer-social></app-footer-social>