<section class="max-w-6xl brief-wrap">
  <h2 class="text-2xl font-medium leading-10 mb-6">
    I'm Jide (pronounced: Ji-Day), and I am a multidisciplinary Product designer
    and developer with high-level programming skills. Six years of experience in
    user experience/interface design, and web development.
  </h2>
  <article class="text-lg leading-10">
    <p>
      I also help out in my community by teaching UX design,and UI development.
      This is the link to my
      <a
        href="https://www.youtube.com/jidelambo"
        target="_blank"
        class="color-pink underline"
        >youtube channel</a
      >
      where I stream about design, development and generally living in Finland.
      <a routerLink="/design-process" class="color-pink underline"
        >You can read about my design process.</a
      >
    </p>

    <p>
      You can check my work progress on
      <a
        href="https://www.linkedin.com/in/jidelambo/"
        target="_blank"
        class="color-pink underline"
        >Linkedin here</a
      >
      and also reach out via twitter
      <a
        href="http://twitter.com/jidelambo"
        target="_blank"
        class="color-pink underline"
        >@jidelambo</a
      >
      where I talk about design, horse riding, city photography and tech.
    </p>
  </article>
</section>
