<section class="brief-wrap">
    <h2>I'm Jide (pronounced: Ji-Day), and I am a passionate user experience designer and developer.</h2>
    <article class="brief-desc">

      <p>As a designer, I have the responsibility to design software
        products that are focused on the human experience; things that are human-centered.</p>
      <p>I have extensive years of experience in designing products in the space of user interface design,
        user experience research, and front-end development (proficient with HTML & CSS). 
      </p>
      <p>With a deep understanding of user-centered design, I work with the entire product design cycle,
        from research to prototype designs, testing prototypes against context of use and responsive UI code
        implementation. I also understand and build web/mobile applications with Front-end web technologies
        such as HTML, CSS, JavaScript.</p>

      <p class="no-margin">You can read about my design process detailing how I research my users, generate interview questions, design prototypes, test prototypes, and iterate design from feedback.</p>
      <a routerLink="/design-process">Learn about my design process.</a>
      <p>I help out in my community by teaching UX design, UI development.</p>
      <p>You can check my work progress on <a href="https://www.linkedin.com/in/jidelambo/" target="_blank">Linkedin here</a> and also reach out via twitter <a href="http://twitter.com/jidelambo" target="_blank">@jidelambo</a>
        where I talk about design, horse riding, city photography and tech.</p>

    </article>
  </section>