<div class="container">
  <article class="project-desc">
    <div class="desc-more">
      <h2 class="desc-title">My Design Process</h2>
    </div>

    <div class="desc-more">
      <h2 class="desc-title-sm">Design Research</h2>
      <p>
          I identify my users by finding out who, what, where, when and how they work in relation to the project’s experience. It gives me an insight into people. Using a stakeholder map, I describe relationships between the stakeholders. I generate quite a number of interview questions for my users, summarise the similarities and differences between the people interviewed from the response to my questions.
      </p>
    </div>

    <div class="desc-more">
      <h2 class="desc-title-sm">Generate Ideas</h2>
      <p>
          In this phase, I come up with ideas to create meaningful and accessible experiences.</p>
    </div>

    <div class="desc-more">
      <h2 class="desc-title-sm">Define all ideas</h2>
      <p>
          In this phase, I make sense of all the data collected. I organise them and form them into insights that will drive ideation to help create usable and accessible experience that I will design.</p>
    </div>

    <div class="desc-more">
      <h2 class="desc-title-sm">Prototyping</h2>
      <p>
          Wireframes are designed and I can demonstrate the idea to colleagues, and users. This phase helps me to answer specific questions, and get feedback from people. By testing them with people, it helps me gain much insight into how the ideas work, what works, what doesn’t work, and what I need to improve upon.</p>
          <p>I also get to prototype using HTML, CSS, and JavaScript.</p>    
    </div>

  </article>
</div>
<div class="know-me-wrap">
  <div class="know-me">
    <a routerLink="/about">Know more about me</a>
  </div>
</div>
<app-footer-social></app-footer-social>