<div class="container max-w-5xl">
  <article class="project-desc">
    <div class="desc-more">
      <h2 class="desc-title">My Design Process</h2>
    </div>

    <div class="desc-more">
      <h2 class="desc-title-sm">Design Research</h2>
      <p>
          I identify my users by finding out who, what, where, when and how they are in relation to the product or service. It gives me an insight into the problems we're trying to solve. I generate quite a number of interview questions for my users, and learn from the response.
      </p>
    </div>

    <div class="desc-more">
      <h2 class="desc-title-sm">Generate Ideas</h2>
      <p>
          After identifying these problems, I come up with ideas to create meaningful discussions with the team.</p>
    </div>

    <div class="desc-more">
      <h2 class="desc-title-sm">Define all ideas</h2>
      <p>
          In this phase, I make sense of all the ideas collected by using the post-it approach. This helps the team make decisions on which idea solves our user's problems.</p>
    </div>

    <div class="desc-more">
      <h2 class="desc-title-sm">Prototyping</h2>
      <p>
          Wireframes are designed and I can demonstrate the idea to colleagues, stackholders and a user-group. This phase helps me to answer specific questions, and get feedback from people. By testing them with users, it helps me gain much insight into what works, what doesn’t work, and what I need to improve upon.</p>
          <p>I also have experience in Front-end development.</p>    
    </div>

  </article>
</div>
<div class="know-me-wrap">
  <div class="know-me">
    <a routerLink="/about">Know more about me</a>
  </div>
</div>
<app-footer-social></app-footer-social>